################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ConectaSys/.vs/ProjectEvaluation/conectasys.strings.v9.bin
/ConectaSys/.vs
